CONFIG_WIFI_SSID="MON_SSID"
CONFIG_WIFI_PASSWORD="MON_PASSWORD"
CONFIG_PROXMOX_API_TOKEN="user@pam!montoken=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
